<div class="navigation">
  <ul *ngIf="isForFrontOffice">
    <li>
      <!-- <a routerLink="/portail/todo">Mes tâches</a> -->
      <button mat-button [matMenuTriggerFor]="menuTache">Mes taches</button>
    </li>

    <li><a routerLink="/portail/profile">Mon profile</a></li>
    <li><a routerLink="/portail/home">Home</a></li>
  </ul>

  <ul *ngIf="!isForFrontOffice">
    <li><a routerLink="/backoffice/dashbord">Dasbord</a></li>
    <li><a routerLink="/backoffice/todo">Gérer les tâches</a></li>
    <li><a routerLink="/backoffice/user">Gérer les users</a></li>
    <li><a routerLink="/backoffice/actu">Gérer les users</a></li>
  </ul>
</div>

<mat-menu #menuTache="matMenu">
  <button mat-menu-item routerLink="/portail/todo">All</button>
  <button mat-menu-item>In progress</button>
  <button mat-menu-item>Done</button>
</mat-menu>
